services:
  - type: web
    name: aboelcode-portfolio
    env: node
    buildCommand: mkdir -p ./data && npm install
    startCommand: npm start
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    healthCheckPath: / 